@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600&display=swap');

$blue : rgb(127, 151, 230);
$white : white;
$black : black;
$grey : grey;
$bluext:rgb(30, 172, 238);
$lightgrey : rgb(102, 95, 95);
$box-shadow:0 .5rem 1rem rgba(0,0,0,.7);

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    overflow-x: hidden;

}

html{
    font-size: 60%;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 1 rem;
    }

    &::-webkit-scrollbar-track{
        background: $black;
    }

    &::-webkit-scrollbar-thumb{
        background: $grey;
        border-radius: 5rem ;
    }
}


//--- For home page start ---//
//navbar styling
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    align-items: flex-start;
    a{
        padding: 2rem;
        font-size: 2rem;
        background: $lightgrey;
        color: $white;
        flex: 1;
        text-align: center;

        i{
            color: $bluext;
            padding : 1px;
        }
        
        span{
            color: $white;
        }

        &:hover{
            background: $blue;
            padding-top: 3rem;
        }
    }


}
//navbar styling end



body{
    background: $black;
    padding-top: 6rem;
}

// for detail overview
section{
    padding: 5rem 3rem;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    min-height: calc(100vh -6.5rem);

    .image{
        flex: 1 1 50rem;
        text-align: center;

        img{
            height: 50rem;
            width: 50rem;
            border-radius: 50%;
        }
    }

    .content{
        flex: 1 1 50rem;
        h3{
            color: $bluext;
            font-size: 4rem;
            padding: .5rem;    
        }

        span{
            color: $blue;
            font-size: 3rem;
            padding: .5rem;
            display: block;
        }

        p{
            color: $white;
            font-size: 2rem;
            padding: .5rem;
            line-height: 1.5;
        }
        
    }
    
}

.btn{
    display: inline-block;
    background: $bluext;
    color: $white;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: .7rem;
    padding-left: 2rem;
    border-radius: 5rem;
    
    i{
        text-align: center;
        height: 4rem;
        width: 4rem;
        font-size: 1.5rem;
        line-height: 4rem;
        background: $white;
        color: $blue;
        border-radius: 50%;
        margin: .25rem;
        margin-left: 1rem;
        transition: .2s linear;
        
    }

    &:hover i{
        margin-left: 3rem;
    }
}

// detail overview end

//--- For home page end ---//


//--- For about page start ---//
.heading{
    text-align: center;
    font-size: 3vw;
    color: $white;
    margin-top: 3rem;
    text-transform: uppercase;

    span{
        text-transform: uppercase;
        color: $bluext;
    }
}

.about{
    .info-container{
        flex: 1 1 50rem;
        .box-container{
            //flex: 1 1 50rem;
             display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.5rem;

            .box{
                flex: 1 1 25rem;

                h3{ 
                    color: $white;
                    font-size: 1.5rem;
                    font-weight: 500;
                    padding: 1rem;
                }

                span{
                    font-weight: 250;
                }
            }
        }
        
    }

}

.skill{
    .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        .box{
            flex: 1;
            padding: 2rem 3rem;
            border-radius: 1rem;
            background: $grey;
            box-shadow: $white;

                img{
                    height: 60%;
                    width: 60%;
                }

                h3{ 
                    padding-top: 1rem;
                    font-size: 2rem;
                    color: $blue;
                }
            }
        }
}



//--- For about page end ---//


//--- For contact page start ---//
.contact{
    .row{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        flex-wrap: wrap;

        .info-container{
            width: 60rem;
            h1{
                color: $white;
                font-size: 2.5rem;
                text-transform: uppercase;
                padding-bottom: 1rem;
            }

            p{
                color: $blue;
                font-size: 1.5rem;
                padding: 1rem;
                line-height: 2rem;
            }

            .box-container{
                padding: 1rem;
                .box{
                    display: flex;
                    padding: 1rem;
                    gap: 1.5rem;
                    i{
                        font-size: 3rem;
                        color: $bluext;
                        padding-top: .5rem;
                    }
                    h3{
                        font-size: 2rem;
                        color: $white;
                    }
                }
            }

            .connect{
                a{
                    text-align: center;
                    height: 5rem;
                   // width: 5rem;
                    font-size: 2rem;
                    //line-height: 5rem;
                    border-radius: 50%;
                    background: $grey;
                    color: $bluext;
                    margin-right: 1rem;
    
                    &:hover{
                        background: $blue;
    
                    }
                }
            }
          
        }
          
        form{
            flex: 1;
        }
    }

}
//--- For contact page end ---//


//media query part(Responsive)
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width:768px){
    .navbar{
        a{
            i{
                padding: 0;
            }

            span{
                display: none;
            }

            &:hover{
                padding-top: 2rem;
            }
            
        }
    }

    .home{
        text-align: center;
        gap: 1.5rem;
    }

    .image img{
        height: 30rem;
        width: 30rem;
    }

    .content{
        h3{
            font-size: 2.5rem;
        }
    }

    // About page start

        .heading{
            font-size: 3rem;
        }   

    // About page end
}

@media (max-width:480px){
    html{
        font-size: 55%;
    }
}

//media query end